@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*RESET*/

* {
    margin: 0; /*margen*/
    padding: 0; /*margen interno*/
}


/*--------------------------HEADER----------------------*/
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.container-fluid {
    text-decoration-color: red;
}
nav {
    border-radius: 20px;
}
h1 {
    text-align: center;
}
header img {
    display: flex;
    width: 80px;
    height: 80px;

}
header nav ul {
    display: flex;
    padding: 20px;
}

h2 {

    color: red;
    text-align: center;
}

header h2 {

    color: black;
}
nav ul li {
    
    margin: 10px 30px 10px 30px;
}

nav ul li a {
    color: blue;
}

.btn-btn-outline-success {
    border-color: black;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 120px;
    height: 40px;
    text-align: center;
    text-orientation: sideways;

}

/*-------------------------MAIN------------------------*/

main {
    background-color: black;
    
}
/*Clases*/
/*utilizado para conjuntos*/
.boton { 
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 10px;
}

.card {
    display: flex;
    padding: 10px;
    justify-content: space-around;

}
/*utilizado para mayor especificidad*/

.hero {
    width: 100%;
    height: 300px;
    background-image: url(../img/tecnologiaydeporte.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    


}
.hero a {
    background-color: black;
}
.hero p {
    background-color: transparent;
    color: crimson;
    
}

.divisores {
    border: 2px gray solid;
    text-align: center;
    background-color: black;
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    align-content: center;
    
}
.divisores h2 {
    display: flex;
}
.divisores div img {
    width: 300px;
    height: 250px;

}
.divisores .divisores-contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}
.tarjetas {
    display: flex;
    justify-content: space-around;

}

.card-title {
    align-content: center;
    justify-content: space-around;
}

main section p {
    text-align: center;
    background-color: transparent;
    max-height: 100px;
}
main section div img {
    width: 200px;
    height: 200px;
}

.btn-btn-primary {
    color: white;
    background-color: red;
    width: 180px;
    display: inline-flexbox;
}







/*---------------FOOTER--------------------*/

.fixed img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 60px;

}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/*-----EVENTOS------*/

.carousel-slide {
    border: 2cap;
    width: 850px;
    height: 300px;
    position: absolute;
    display: flex;
}

/*---------SERVICIOS---------*/

.title-dash {
    font-size: large;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    
}