header { 
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    nav {
        border-radius: 20px;
        img { 
            display: flex;
            width: 80px;
            height: 80px;}
        div {
            a 
            button 
            div {
                ul { 
                    display: flex;
                    padding: 20px;
                    li { 
                        margin: 10px 30px 10px 30px;
                        a {
                            color: blue;
                        }
                    }

                }
                 
            }
        }
    }
}

.container-fluid {
    text-decoration-color: red;
}

